video {
    background:black;
    padding:0px;
    margin:0px;
}

.videofieldlabel {
    color:black;
    /*background:black;*/
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

video-input button {
    margin-top:10px;
    margin-right:5px;
    border:1px solid gray;
    padding:5px;
    border-radius:3px;
    min-width:100px;
}

.recordersign {
    background:white;
    position:relative;
    top:25px;
    left:5px;
    font-family:arial;
    font-size:10px;
    margin-top:-20px;
    border-radius:3px;
    padding:3px;
    width:70px;
    visibility:hidden;
}
